body {
  margin: 0;

  font-family: 'Cuprum', Arial, sans-serif;
  /*font-family: 'PT Sans', Arial, sans-serif;*/
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}
/*------------------------------*/
.main-header-top {
  /*font-family: 'Cuprum', Arial, sans-serif;*/
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

/*строка поиска*/
.main-header-top form:hover {
  background-color: #212a3a;
}
.main-header-top form:focus {
  background-color: #ffffff;
}
/*---------------------*/

.earmarked-list {
  list-style: none;
}

.earmarked-list a
{
  color: #ffffff;
}

.earmarked-list .cart-active {
  background-color: #ee3643;
}
.earmarked-list a:hover,
.earmarked-list a:focus {
  background-color: #212a3a;
}

.earmarked-list a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #161d29;
}

.button-checkout {
  color: #ffffff;
  background-color: #63a63e;
}
.button-checkout:hover,
.button-checkout:focus {
  background-color: #5fbb2d;
}

.button-checkout:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.main-header-bottom {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;

  background-color: #f3f7f8;
  background-image: url("../img/background.jpg");
  /*background-position: top center;*/
  /*background-repeat:repeat;*/
}
.main-header-bottom h1,
.main-header-bottom .title {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #ee3643;
}

.header-contacts a {
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.header-contacts p{
  font-style: normal;
  /*font-size: 14px;*/
  /*line-height: 24px;*/
  /*color: #32425c;*/
}

.user-link {
  list-style: none;
}

.user-link a {

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}
.user-link a:hover,
.user-link a:focus {
  color: #ee3643;
}
.user-link a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow:inset 0 -5px 0 0 #293449 ;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}
.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}
/*-------------------------------------------*/
.offer {
  color: #ffffff;
}
.offer-list{
  list-style: none;
}
.offer-list li:nth-child(1) {
  background-color: #ffbf47;
}

.offer-list li:nth-child(2) {
  background-color: #3bbce3;
}
.offer-list li:nth-child(3) {
  background-color: #dc91d8;
}
.offer-list li:nth-child(4) {
  background-color: #8ed78f;
}
.offer-list li:nth-child(5) {
  background-color: #ffc047;
}
.offer-list a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1px 1px;
}

.offer-list a:hover,
.offer-list a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.offer-list a:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.offer-list h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.caption p {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
/*--------------slider--------------------*/
.slider {
  background-color: #685c53;
}
.caption span {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}
.button:hover,
.button:focus {
  background-color: #ca2c37;
}
.button:active {
  background-color: #ba2732;
}
.popular-header {
  background-color: #f9f5f0;
}
.popular-header h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}
/*--------------популярные продукты-----------------------------*/
.popular-products-list {
  list-style: none;
}

.popular-products-item h3 {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.popular-products-item {
  border: 1px solid #eaeaea;
}

.popular-products-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  border: none;
}
/*
.strelka {
  position: relative;
  width: 120px;
  height: 38px;
  background-color: red;
  text-align: center;

}
.strelka p{
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: center;

}
.strelka::after {
  position: absolute;
  content: "";
  border: 19px solid white;
  top: 0;
  right: -19px;
  border-right-width: 0;
  border-left-color: red;
  border-top-color: transparent;
  border-bottom-color: transparent;

}
*/
/*------------брэнды--------*/
.brands-list {
  list-style: none;
}
.brands-list a {
  border: 1px solid #eaeaea;
}

.brands-list a:hover,
.brands-list a:focus
{
  border: none;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brands-list a:active {
  border: none;
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}
/*--------можно ли так делать? или ссылкам нужно задать класс*/
.brands-list a:active img{
opacity: 0.3;
}
/*----------------сервисы----------------*/
.services {
  color:#000000;

  background-color: #f3f7f8;
  background-image: url("../img/background-service.jpg");
  background-position: 0 0;
  background-repeat: repeat;

}
.services h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.service-button-list {
  list-style: none;
}
.service-button-item button {

  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #32425c;

  background-color: #ffffff;
  box-shadow:0 1px 0 0 #ffffff, inset 0 1px 0 0 #ffffff;
  border: none;

}
.service-button-item button:hover {
  color: #ffffff;
  background-color: #293449;
}
.service-button-item button:active {
  color: #32425c;
  background-color: #ffffff;
}
.services-delivery h3{
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}


/*----------------компания-----*/

.columns-company h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.columns-company p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.transport-companies {
  list-style: none;
}
.transport-companies a {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
/*------------------catalog--------------------------------*/
.username{
  background-color: #ffffff;
}
.authorized{
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}
.exit {
  color:#c5c5c5;
}
.authorized:hover,
.authorized:focus {
  color: #000000;
}

.authorized:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-list {
  list-style: none;
}

.user-list a {

  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}
.user-list a:hover,
.user-list a:focus {
  color: #ee3643;
}
.user-list a:active {
  color: rgba(0, 0, 0, 0.3);
}
/*------------breadcrumbs---------------------*/

.container-inner {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}
.breadcrumbs {
  list-style: none;
}
.breadcrumbs a {
  color: #000000;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.container-inner h2 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}
/*---------------------фильтры----------------------*/
.filters h3 {
  font-weight: 400;
  background-color: #f7f3ec;
}
.filter fieldset {
  border: none;
}
.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.05px;
}
.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter button {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ffffff;
  border:1px solid #e5e5e5;
  border-radius: 1px 1px;
}
/*--------------бегунок--------------------*/
.range-double {
  background-color: #f7f3ec;
}

.price-list output {
  font-size: 17px;
  line-height: 18px;
  background-color: #f7f3ec;
}
/*--------------сортировка-----------------------*/
.sorting {
  background-color: #f7f3ec;
}
.sorting h3
{
  font-weight: 400;
}
.sorting-list {
  list-style: none;
}

.sorting-list a {
  border-bottom: 1px dotted #ee3643;
  color: rgba(0, 0, 0, 0.3);
}
.sorting-list a:hover,
.sorting-list a:focus {
  color: #000000;
  border: none;
  text-decoration: underline;
  text-decoration-color: #ee3643;
}

.sorting-list a:active {
  color: #ee3643;
  text-decoration: none;
}

.sorting-order-list {
  list-style: none;
}

.sorting-order-list a {
  color: rgba(0, 0, 0, 0.3);
}
.sorting-order-list a:hover,
.sorting-order-list a:focus {
  color: #000000;
}

.sorting-order-list a:active {
  color: #ee3643;
}
/*-------------paginator----------------*/
.paginator-list {
  list-style: none;
}
.paginator-item a {
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 1px 1px;
  background-color: #ffffff;
}

.paginator-item a:hover,
.paginator-item a:focus
{
  border: 1px solid #bdc6ca;
  background-color: #ffffff;
}
.paginator-item a:active {
  border: 1px solid #ee3643;
  background-color: #ffffff;
}
.paginator-item-current a{
  color: #ffffff;
  border-color: #ee3643;
  background-color: #ee3643;
}
.paginator-item-current a:hover,
.paginator-item-current a:focus,
.paginator-item-current a:active{
  color: #ffffff;
  border-color: #ee3643;
  background-color: #ee3643;
}
/*------------о префораторах------------------*/
.about-perforator {
  background-color: #f2f6f8;
}
.about-perforator h2 {
  color: #000000;
}
.about-perforator dl{

  font-size: 13px;
  line-height: 24px;
  text-transform: none;
}
  /*--------footer-----------*/
.footer-top {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #32425c;
}
.footer-navigation,
.footer-navigation-offer {
  list-style: none;
}
.footer-navigation a {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #32425c;
}
.footer-contacts {
  font-style: normal;
}
.footer-navigation-offer a {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffda96;
  background-color: #32425c;
}
.footer-navigation a:hover,
.footer-navigation-offer a:hover {

  text-decoration: underline;
}

.footer-navigation a:focus,
.footer-navigation-offer a:focus {

  opacity: 0.5;
  text-decoration: none;
}
.footer-bottom {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}
.footer-social ul
{
  list-style: none;
}
.social-button {
  color: #ffffff;
  background-color: #212a3a;
}
.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}



.mailto a,
.developers a
{
  color: #ffd180;
}
.mailto a:hover,
.developers a:hover
{
  text-decoration: underline;
}
.mailto a:focus,
.developers a:focus
{
  text-decoration: none;
  color: #ee3643;
}
/*--------------------modal---------------------------*/
.modal-write-us {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ff5357;
}
.modal-write-us input,
.modal-write-us textarea {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;

  border: 2px solid #d7dcde;
  border-radius: 2px 2px;
  background-color: #ffffff;
}
.modal-write-us input:hover,
.modal-write-us textarea:hover {

  border-color: #b5b5b5;

}
.modal-write-us input:focus,
.modal-write-us textarea:focus {

  border-color: #ee3643;

}
.modal-bottom {
  text-align: center;
  background-color: #f4f4f4;
}
.modal-write-us label {

  font-size: 18px;
  line-height: 18px;

}
.modal-bottom button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.modal-map {
  background-color: #565656;
  box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
}
